<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo">
              <img src="/images/logo.svg" alt="logo">
            </div>
            <h4>Xin chào!</h4>
            <h6 class="fw-light">Đăng nhập để tiếp tục.</h6>
            <form class="pt-3" method="post" action="/dang-nhap">
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" name="username" id="exampleInputEmail1"
                  placeholder="Username">
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-lg" name="password" id="exampleInputPassword1"
                  placeholder="Password">
              </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-block btn-facebook auth-form-btn">
                  ĐĂNG NHẬP
                </button>
              </div>
              <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="form-check">
                  <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input">
                    Nhớ tài khoản
                  </label>
                </div>
                <a href="#" class="auth-link text-black" style="text-decoration: none">Quên mật khẩu?</a>
              </div>
              <div class="mb-2">
                <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                  <i class="ti-facebook me-2"></i>Kết nối bằng Facebook
                </button>
              </div>
              <div class="text-center mt-4 fw-light">
                Không có tài khoản? <a style="text-decoration: none" href="register.html" class="text-primary">
                  Tạo tài khoản </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>